doctype html
html(lang="ru")
	head
		meta(charset="utf-8")

		block title
			title New project
		meta(name="description", content="")
		meta(name="viewport", content="width=device-width")
		link(rel="stylesheet", href="css/main.css")

	body
		block pagecontent