extends templates/layout/main.pug

include templates/header

block title
    title Simple Title

    body.middle
        .page_wrapper
            +header
            .page_title
                h1.title Weeks of warmth
                p.subtutle Недели теплоты

            .container
                section.page_content.page_content--text
                    .wrapper
                        picture.big.right
                            img(src='assets/images/main-image-09.jpg', alt='')
                        h2.title Как поддерживать теплоту, когда за окном минус двадцать?
                        p Нет, новый обогреватель тут не поможет, по крайней мере, если верить датчанам. Согласно данным соц. опросов, датчане — самые счастливые европейцы, не смотря на их суровый климат. А причина их счастья — хюгге. Хюгге — жизненная философия, свод правил, который позволит наполнить дом уютом и принести гармонию в жизнь.
                        p Давайте учиться у датчан - начнем со своего рабочего места. Ниже перечислено несколько хюгге-лайфхаков по созданию уюта на работе.
                        p.list-item &bull; Начните с кружки в стиле хюгге — она должна быть керамической и довольно тяжелой, чтобы ее приятно было держать в руках. Конечно, важно что именно вы из неё будете пить — датчане рекомендуют горячий шоколад и какао.
                        picture.left
                            img(src='assets/images/main-image-10.jpg', alt='')
                        p.list-item &bull; Обзаведитесь настольной лампой, если у вас её еще нет. Особенно актуальна она станет вечером: работать при теплом свете настольной лампы — одно удовольствие!
                        p.list-item &bull; Разместите на своем рабочем столе фотографии близких людей в рамках. Они напомнят о том, что вы любимы и дома вас ждут.
                        p.list-item &bull; Повесьте на стену картину или репродукцию, гравюру или офорт. Подойдет любое произведение изобразительного искусства — эти вещи хранят тепло рук их создателей. Здорово, если это будет рисунок вашего ребенка или образы собственного творчества.
                        p.list-item &bull; Выделите место под книжную полку. Разместите там книги, которые не связаны с работой — пара томов любимого поэта или научная фантастика, которой вы зачитывались в юности. Сюрприз: читать на работе их вовсе необязательно, вам будет теплее и уютнее уже от того, что вы их видите.
                        picture.right
                            img(src='assets/images/main-image-11.jpg', alt='')
                        p.list-item &bull; Принесите то, что источает ваши любимые ароматы: ароматические свечи, цветущие растения, или просто молотый кофе. Но помните, что если рядом с вами работают коллеги, то навязчиывые ароматы могут им не понравиться — уважайте желания других людей.
                        p.list-item &bull; Держите рядом уютные домашние вещи: пушистый шарф, объемный кардиган или вязаный свитер. После трудового дня или в напряженные моменты они помогут вам не только согреться, но и расслабиться.
                        p.list-item &bull; И самое главное: наслаждайтесь простыми радостями. Лучшие вещи в жизни достаются нам даром. Красота окружающего мира, смех детей, улыбки близких, спокойный вечер дома с любимым человеком или с хорошей книгой — именно эти моменты составляют счастье жизни. Цените их.
                        p Простота и скромность - главные составляющие хюгге. В чашке чая больше хюгге, чем в бокале шампанского, говорят датчане, в настольных играх — больше, чем в компьютерных, в приготовленной еде — больше, чем в покупной. Окружайте себя уютными и простыми вещами, делитесь теплотой со своими близкими и коллегами и тогда благополучие (а «хюгге» со скандинавских языков переводится как «благополучие») никогда вас не оставит!


                aside.smiles.smiles--text
                    .speech-bubble
                        p Предлагаем вам узнать, как можно получать больше теплоты
                    picture
                        img(src='assets/images/smile_06.png', alt='')
                    picture
                        img(src='assets/images/smile_03.png', alt='')
                    picture
                        img(src='assets/images/smile_popup.png', alt='')


        script(src='scripts/libs/jquery-3.2.1.min.js')
        script(src='scripts/common.js')