extends templates/layout/main.pug

include templates/header

block title
    title Simple Title

    body.contrast
        .page_wrapper
            +header
            .page_title
                h1.title Weeks of warmth
                p.subtutle Недели теплоты

            .container.wallpaper
                aside.smiles.smiles--photo
                    .speech-bubble
                        p Добавьте уюта на экран своего компьютера! Скачайте понравившуюся вам картинку и установите в качестве заставки для рабочего стола. Пусть этой зимой тепло окружает вас повсюду!
                    picture
                        img(src='assets/images/smile_01.png', alt='')
                    picture
                        img(src='assets/images/smile_popup.png', alt='')

                section.page_content.page_content--photo
                    .wrapper.container
                        -var i = 0;
                        while i < 6
                            .photo_wrapper
                                p Выберите разрешение
                                .photo_inner
                                    picture
                                        img(src='assets/images/main-image-12.jpg', alt='')
                                    .photo_sizes.disabled
                                        a.page_button.small(href='')
                                            img(src='assets/images/mobile.png', alt='Mobile')
                                        a.page_button.small(href='')
                                            img(src='assets/images/desktop.png', alt='Desktop')
                                button.page_button(type='button') Скачать
                            -i++


        .modal_wrapper
            .modal(id='photoDownloaded')
                .page_title
                    p.title weeks of warmth
                    p.subtutle Недели теплоты
                .modal_inner
                    picture
                        img(src='assets/images/smile_popup.png', alt='')
                    .speech-bubble
                        p Спасибо!<br>Ваша фотография загружена!
                    button.page_button(type='button') Назад



        script(src='scripts/libs/jquery-3.2.1.min.js')
        script(src='scripts/common.js')